# secrets
.env
airflow/secrets/*
!airflow/secrets/.gitkeep

# airbyte secrets
airbyte/secrets/*
!airbyte/secrets/.gitkeep

# dbt
pagila_analytics/target/
pagila_analytics/dbt_packages/
pagila_analytics/logs/
pagila_analytics/profiles.yml

# airflow runtime
airflow/logs/
airflow/plugins/

# misc
__pycache__/
*.pyc
sources-db/init-scripts/sql-dumps/*.sql
!sources-db/init-scripts/sql-dumps/.gitkeep
